/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


 /* Main Styles */

 h5 {
   font-weight: 500;
 }

 .logo-text {
   display: none;
 }


/* Icon styles */
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: 2em;
}

.card-reveal i {
  padding-left: 35px;
  vertical-align: bottom;
}

.social-icons {
  font-size: 2.5rem;
  color: #29b6f6;
  font-family: 'Pacifico', cursive;
}

.social-icons a {
  color: #29b6f6;
}

.social-icons i {
  padding-right: 20px;
}

/* Section styles*/

.section-title {
  border-left: 4px solid #11151C;
  padding: 10px;
}

/* Reference Styles */

.reference-slider {
  margin-bottom: 50px;
}

.reference-img {
  border-radius: 50%;
  margin: 0 auto;
  width: 150px;
  height: 150px;
}

.reference-title {
  font-weight: bold;
}

.reference-text {
  margin: 30px auto;
  width: 60%;
  font-size: 1.5rem;
}

/* Main copy intro */

.intro {
  margin-top: 50px;
}

/* Custom Slider Styles */


.slider {
  margin-top: 50px;
}

.slick-dots li button:before {
  font-size: 12px;
}

.slick-dots li.slick-active button:before {
  color: #11151C;
}

/* Footer Styles */

.footer-copyright {
  font-size: 1.5rem;
}

.footer-copyright i {
  vertical-align: middle;
}

.page-footer h2 {
  color: #29b6f6;
  line-height: 60px;
}

/* Form Styles */

form {
  margin-top: 80px;
}

label {
  font-size: 2rem;
  color: #fff;
}

input {
  color: #fff;
  margin-bottom: 20px;
}

input-field.label {
  font-size: 2rem;
}

textarea {
  color: #fff;
}

i.material-icons.prefix {
  margin-top: 6px;
  color: #29b6f6;
}

.project-details {
  margin-left: 3rem;
}

/* Media Queries */

@media only screen and (max-width: 1240px) {
  nav span {
    display: none;
  }

  
}

@media only screen and (max-width: 991px) {
  .logo-text {
    display: block;
    text-align: center;
    font-size: 2em;
  }

  .header-title {
   line-height: 47px;
 }

 h1.header.center.orange-text {
   margin-top: 0;
   font-size: 3rem;
 }

 h2.header.center.orange-text.header-title {
   font-size: 2.5rem;
   margin: 10px 0;
 }

  /*Reference Section */ 
 .reference-text {
   width: 60%;
   font-size: 1.4rem;
 }

 .reference-slider {
   margin-bottom: 75px;
 }


/* Footer Styles */
 .page-footer h2 {
  color: #29b6f6;
  line-height: 60px;
  font-size: 2.5rem;
  
  }

  .footer-copyright {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 601px) {
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 110px;
    line-height: 110px;
  }

  .reference-slider {
  margin-bottom: 125px;
}

 .reference-text {
   width: 80%;
 }
}
