/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/* Icon styles */
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: 2em;
}

/* Section styles*/

.section-title {
  border-left: 4px solid #11151C;
  padding: 10px;
}

/* Main copy intro */

.intro {
  margin-top: 50px;
}

/* Custom Slider Styles */


.slider {
  margin-top: 50px;
}

.slick-dots li button:before {
  font-size: 12px;
}

.slick-dots li.slick-active button:before {
  color: #11151C;
}

